@font-face {
    font-family: AloneOnEarth;
    font-style: normal;
    font-weight: normal;
    src: local('AloneOnEarth'), url('AloneOnEarthRegular.ttf') format('truetype');
}

html, body {
    min-height: 100vh;
    margin: 0;
}

body {
    background-color: #252525;
}

.container {
    max-width: 800px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.site-title {
    font-family: AloneOnEarth;
    font-size: 6rem;
    margin-bottom: -1.5rem;
}

.site-subtitle {
    font-size: 1.6rem;
}

.custom-select {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23f8f9fa' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
}

.custom-select:disabled {
    background-color: #e9ecef19;
}

.custom-select option {
    background-color: #252525;
    font-size: 16px;
}

.support-text {
    display: none;
}

.key {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px white;
    min-width: 1.75rem;
    text-align: center;
    font-size: 0.8rem;
    margin: 0.15rem 0;
}

.key svg {
    height: 1.25em;
}

.platform {
    cursor: pointer;
}
