@font-face {
    font-family: AloneOnEarth;
    font-style: normal;
    font-weight: normal;
    src: local('AloneOnEarth'), url('AloneOnEarthRegular.ttf') format('truetype');
}

html, body {
    min-height: 100vh;
    margin: 0;
}

body {
    background-color: #252525;
}

.container {
    max-width: 800px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.site-title {
    font-family: AloneOnEarth;
    font-size: 6rem;
    margin-bottom: -1.5rem;
}

.site-subtitle {
    font-size: 1.6rem;
}

.form-control {
    width: 287px;
}

select.form-control {
    appearance: none;
}

select.form-control option {
    background-color: #252525;
    font-size: 16px;
}

.support-text {
    display: none;
    word-break: break-all;
}

.key {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px white;
    min-width: 1.75rem;
    text-align: center;
    font-size: 0.8rem;
    margin: 0.15rem 0;
}

.key svg {
    height: 1.25em;
}

code {
    white-space: nowrap;
}